@{
    ViewData["Title"] = "Privacy Policy & Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>This application was only created for educational purposes on the use of FHIR and is not intended for real treatment
    or data collection in real persons
     </p>
